.box{
    -fx-background-image: url(../image/img_3.png);
    -fx-background-height: 600;
    -fx-background-width: 320;
}
.button{
    -fx-background-color: lightblue;
}
.fillIn{
    -fx-font-size: 20;
    -fx-color: white;
}
.checkOut{
    -fx-background-image: url(../image/img_2.png);
}
.belowText{
    -fx-font-size: 20;
    -fx-fill: white;
}